[Unit]
Description=Oon GPIO buttons
#After=rabbitmq-server.service
 
[Service]
Type=simple
 
User=%i
 
ExecStart=/root/Oon/gpiobuttonmq /root/Oon/gpiobuttonmq.conf 
ExecStop=/usr/bin/killall -2 gpiobuttonmq
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/Oon

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30
 
[Install]
WantedBy=multi-user.target
