[Unit]
Description=Oon GPIO Motors
#After=rabbitmq-server.service
 
[Service]
Type=simple
 
User=%i
 
ExecStart=/root/Oon/bbdcmotorsmq /root/Oon/bbdcmotorsmq.conf
ExecStop=/usr/bin/killall -2 bbdcmotorsmq
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/Oon
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30
 
[Install]
WantedBy=multi-user.target
