[Unit]
Description=Oon Brain 
#After=rabbitmq-server.service
 
[Service]
Type=simple
 
User=%i
 
ExecStart=/root/Oon/Oon /root/Oon/oon.conf
ExecStop=/usr/bin/killall -2 Oon
Restart=on-failure
RestartSec=10
WorkingDirectory=/root/Oon
 
# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30
 
[Install]
WantedBy=multi-user.target
